* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-color: black transparent;
    background-image: url(wall.jpg);
    overflow-x: hidden;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #b74b4b;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background:  #b74b4b;
}

nav{
    width: 100%;
    height: 10vh;
}

.navlist {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #b74b4b;
    text-shadow: 0 0 10px #b74b4b;
}

.nav-item {
    display: flex;
}

.nav-item a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-item a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #b74b4b;
    transition: 0.2s linear;
}

.nav-item a:Hover::before {
    width: 100%;
}

.nav-item a:hover {
    color: #b74b4b;
}

section .content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins, sans-serif';
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 6vw, 1rem);
    margin: 10px 0;
}

section .title {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
}

section .title span {
    color: white;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin: 1rem;
}

section .title span::before,
section .title span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #b74b4b;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.aboutme .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme .about-details .left {
    width: 45%;
}

.about-details .left img {
    width: 25vw;
    min-width: 160px;
    max-width: 300px;
    height: auto;
    min-height: 160px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5rem;
}

.aboutme-details .right {
    width: 55%;
}

section .topic {
    color: hsl(0, 43%, 51%);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-details .right p{
    text-align: justify;
    font-size: 1rem;
    color: white;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 100%;
    margin-right: 80px;
}

.skills-details p {
    text-align: justify;
    font-size: 1rem;
    color: white;
}

.skills .boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-details .boxes .box {
    width: calc(100% / 2 - 20px);
    margin: none;
}

.skills-details .boxes .box .topic {
    font-size: 1.2rem;
    color: #b74b4b;
}

.skills-details .boxes .box .per {
    font-size: 3.2rem;
    color: #b74b4b;
}

.edu {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 2px 2px 5% 2px;
}

.edu i{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.3rem solid #b74b4b;
    border-radius: 50%;
    color: #b74b4b;
    margin: 0 10px 0 0;
    transition: 0.2s linear;
}

.edu i:hover {
    scale: 1.3;
    color: black;
    background-color: #b74b4b;
    filter: drop-shadow(0 0 10px #b74b4b);
}

.edu-list li {
    align-items: left;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.work {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 16px 2px 100px 2px;
}

.edu-work-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.work i{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.3rem solid #b74b4b;
    border-radius: 50%;
    color: #b74b4b;
    margin: 0 10px 0 0;
    transition: 0.2s linear;
}

.work i:hover {
    scale: 1.3;
    color: black;
    background-color: #b74b4b;
    filter: drop-shadow(0 0 10px #b74b4b);
}

.edu-work-list li {
    align-items: left;
    display: grid;
    grid-template-columns: auto 40px ;
    justify-content: center;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    position: relative;
    border-radius: 50%;
    color: #b74b4b;
    margin: 1rem;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: black;
    background-color: #b74b4b;
    filter: drop-shadow(0 0 10px #b74b4b);
}

footer {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 0.8rem;
    font-weight: 400;
}

@media screen and (min-width: 360px) and (max-width: 1079px) {
    body {
        background: url(wall2.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1080px) {
    body {
        background: url(wall.jpg);
        background-size: cover;
    }
}