* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-image: url(wall.jpg);
    overflow-x: hidden;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #b74b4b;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background:  #b74b4b;
}

nav{
    width: 100%;
    height: 10vh;
}

.navlist {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #b74b4b;
    text-shadow: 0 0 10px #b74b4b;
}

.nav-item {
    display: flex;
}

.nav-item a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-item a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #b74b4b;
    transition: 0.2s linear;
}

.nav-item a:Hover::before {
    width: 100%;
}

.nav-item a:hover {
    color: #b74b4b;
}

main {
    width: 100%;
    min-height: 90vh;
}

main .main-container {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    align-items: center;
}

.main-container p {
    text-align: justify;
    font-size: 1.5rem;
    color: white;
    margin: 1rem 10vh 10rem 10vh;
}

.main-container .content {
    color: white;
    width: 85%;
    margin: 1rem 8rem 2rem 4rem;
}

.main-container .image {
    width: 280px;
    height: 280px;
    border-radius: 80%;
    overflow: hidden;
    margin: 1rem 10vw 2rem 10vw;
    box-shadow: 0 0 50px #b74b4b;
}

.main-container .image img {
    object-fit: cover;
    border-radius: 50%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0%{
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
}

.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: #b74b4b;
    text-shadow: 0 0 10px #b74b4b;
}

.content .text {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid #b74b4b;   
    color: #b74b4b;
    content: "";
    text-shadow: 0 0 10px #b74b4b;
    animation: cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px;
    color: white;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    position: relative;
    border-radius: 50%;
    color: #b74b4b;
    margin: 1rem;
    font-size: 1.2rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: black;
    background-color: #b74b4b;
    filter: drop-shadow(0 0 10px #b74b4b);
}

footer {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 0.8rem;
    font-weight: 400;
}

@media screen and (min-width: 360px) and (max-width: 1079px) {
    body {
        background: url(wall2.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1080px) {
    body {
        background: url(wall.jpg);
        background-size: cover;
    }
}