:root {
    /* color variables */
    --clr-button: #27b2ca;
    --clr-hover: #105e80;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    /* border radius */
    --radius: 0.2rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--clr-gray100);
    
}

.navlist{
    background:white;
    box-shadow:0px 0px 10px var(--clr-gray200);
    margin:0;
    padding:1rem 0;
    border-radius:var(--radius);
    display:flex;
    justify-content:flex-end;
    align-items:left;
}

.nav-item{
    list-style:none;
    margin-right:1rem;
}

.nav-item a {
    text-decoration:none;
    color:rgb(6, 3, 46);
    transition:all 200ms ease-in;
}

.nav-item a:hover{
    color:var(--clr-hover);
}
.nav-item:first-child{
    margin-right:auto;
    margin-left:1rem;
}

.button{
    font-size:1rem;
    background:var(--clr-button);
}

#image{
    width: 120px;
    height: 140px;
    border-radius:var(--radius);
    overflow: hidden;
    position: middle;
}